<!-- Privacy policy for Uptrendz (GDPR) since google sign in option is used-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>


<header class="page-header gradient2">
    <div class="container">
        <div class="row align-items-center justify-content-center">

            <div class="col col-md-12" style="margin-top: 50px;">
                <h1 class="text-center text-white" style="margin-bottom: 0px;">
                    Success Stories
                </h1>
            </div>

        </div>

    </div>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 50 1440 140">
        <path
                fill="#fff"
                fill-opacity="1"
                d="M0,128L48,117.3C96,107,192,85,288,80C384,75,480,85,576,112C672,139,768,181,864,181.3C960,181,1056,139,1152,122.7C1248,107,1344,117,1392,122.7L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
        ></path>
    </svg>
</header>

<div class="container stories">


    <div class="row align-items-center justify-content-center">


      <div class="col col-md-12" style="margin-top: 50px;">


          <h4 class="text-left">Increasing user engagement and application rates in the job marketplace</h4>
          <div class="row">
              <div class="col-md-4">
                  <img class="center" th:src="@{img/stories/studo_jobs3.png}" style="width: 100%; padding-top: 0.75em;">
              </div>
              <div class="col-md-8 text-justify">
                  <p>
                      The <a href="https://moshbit.com/"><b>Moshbit GmbH</b></a> is offering <b>digital services</b>. For example,
                      <a href="https://studo.com/"><b>Studo</b></a> simplifies students’ lives and helps them to <b>manage organizational and social aspects</b> of their studies. On the other hand,
                      the job marketplace <a href="https://talto.com/"><b>Talto</b></a>, facilitates the <b>career entry</b> for students and young talents.
                  </p>

                  <b>Outcome:</b>
                  <ul>
                      <li>
                          Increased the overall <b>user engagment</b> with the job marketplace (~20%) and the <b>application rate</b> to posted jobs (~18%).
                      </li>
                      <li>
                          Conducted <b>novel research</b> on matchmaking algorithms in the area of student and graduate job markets.
                      </li>
                      <li>Introduced high quality <b>personalization for anonymous users</b> and additional content material (e.g., news articles).</li>
                  </ul>

              </div>
          </div>
          <hr>


          <h4 class="text-left">Analyzing anonymous guest data and predicting guests' interests during holidays</h4>
          <div class="row">
              <div class="col-md-8 text-justify">
                  <p>
                      The municipality of <b>Schladming</b> aims to <b>optimize the guest throughput</b> within the organized <b>activities</b>. This can be done
                      by either <b>providing or (temporarily) excluding</b> information about certain activities to guests. For this,
                      particular activities, weather options, locations and category information for defined time frames and optional boosting settings
                      need to be dynamically taken into account.
                  </p>


                  <b>Outcome:</b>
                  <ul>
                      <li>
                          Conducted a thorough <b>analysis and infered guest profiles</b> from anonymized <a href="https://www.schladming-dachstein.at/de/sommercard">Schladming-Dachstein Sommercard</a> data.
                      </li>
                      <li>
                          Developed a novel <b>context-aware recommendation system</b> which aims to predict a guest's interest in a certain (holiday) activity.
                      </li>
                  </ul>
              </div>
              <div class="col-md-4">
                  <img class="center" th:src="@{img/stories/schladming-recomm_shadow.png}" style="width: 100%; padding-top: 0.75em;">
              </div>
          </div>
          <hr>

          <h4 class="text-left">Personalized Culture Events</h4>
          <div class="row">
              <div class="col-md-4">
                  <img class="center" th:src="@{img/stories/theaterholding.png}" style="width: 100%; padding-top: 0.75em;">
              </div>
              <div class="col-md-8 text-justify">
                  <p>
                      Every year, the <a href="https://www.theaterholding.at/"><b>Theaterholding Graz</b></a>
                      with the <a href="https://www.oper-graz.com/">Graz Opera</a>, <a href="https://www.schauspielhaus-graz.com/">Schauspielhaus</a>,
                      <a href="https://www.nextliberty.com/">Next Liberty</a>, the Kasematten, the Orpheum or the
                      Dom im Berg <b>registers around 500,000 visitors</b>.
                      To develop and strengthen the <b>connection between customers and cultural event offers</b> of the city of Graz and the province of Styria,
                      expectations and demands of the population have to be takein into consideration when generating insights from the existing data landscape.
                  </p>
                  <b>Outcome:</b>
                  <ul>
                      <li>
                          Conducted a comprehensive data <b>analysis</b> on <b>customer behaviour</b> (e.g., pricing, preferences, etc.).
                      </li>
                      <li>
                          Developed <b>innovative use-cases</b> and <b>design concepts</b> on how to introduce personalization for both anonymous and known customers.
                      </li>
                  </ul>
              </div>
          </div>
          <hr>

          <h4 class="text-right">Social Book Recommender</h4>
          <div class="row">
              <div class="col-md-8 text-justify">
                  <p>
                      The <a href="http://www.zbw.eu/de/"><b>Leibnitz-Informationszentrum Wirtschaft (ZBW)</b></a> has a dual platform for its book rental service.
                      To <b>enhance the discovery of relevant books</b> and <b>lower the information overload problem</b>,
                      the focus is shifted towards utilizing both the <b>data about book rentals</b> as well as <b>social network signals</b> generated by users.
                  </p>
                  <b>Outcome:</b>
                  <ul>
                      <li>
                          Analysed and developed a <b>social recommendation system</b> to foster the exploration of relevant books.
                      </li>
                      <li>
                          Introduced an <b>innovative bubble visualization style</b> to allow for an eassier browsing and exploration.
                      </li>
                  </ul>
              </div>
              <div class="col-md-4 text-center">
                  <img class="center" th:src="@{img/stories/ZBW.png}" style="width: 90%; padding-top: 0.75em;">
              </div>
          </div>
          <hr>

          <h4 class="text-left">Project Partner Matchmaker</h4>
          <div class="row">
              <div class="col-md-4">
                  <img class="center" th:src="@{img/stories/openaire.png}" style="width: 100%; padding-top: 0.75em;">
              </div>
              <div class="col-md-8 text-justify">
                  <p>
                      The <a href="https://www.openaire.eu/"><b>OpenAIRE</b></a> scholarly graph enables organisations
                      to keyword <b>search for organisations</b> with the strongest <b>records of funding success</b> from the
                      ever-expanding range of funders.
                      In it, the OpenAIRE Matchmaker is an innovative serice which draws information on institutions, projects and funders to
                      enable scientific institutions interested in forming consortia
                      to <b>identify potential partners</b> with the exact <b>disciplinary strengths and competences</b>.
                  </p>

                  <b>Outcome:</b>
                  <ul>
                      <li>
                          Designed and implemented a system to <b>link potential scientific project partners</b> based on institutional and personal attributes.
                      </li>
                      <li>
                          Increased the <b>added-value potential</b> of the OpenAIRE scholarly graph for researchers and funders.
                      </li>
                  </ul>
              </div>
          </div>
          <hr/>

          <h4 class="text-right">Social Care Support System</h4>
          <div class="row">
              <div class="col-md-8 text-justify">
                  <p>
                      <a href="https://nekom.com"><b>Nekom</b></a> offers services for marketing, retail and omnichannel e-commerce.
                      As a part of their platform, they also focus on <b>social care organizations</b> and how to improve the
                      process of serving their clients (e.g., asylum seekers, victims of domestic violence, etc.) needs.
                  </p>
                  <b>Outcome:</b>
                  <ul>
                      <li>
                          Introduced a ticketing system to <b>help clients</b> of social care organizations to <b>find the right social
                          counsellors</b> and organizations for their specific problem in an <b>annymous and problem-aware</b> way.
                      </li>
                      <li>
                          A <b>lower workload</b> of counsellors by suggesting <b>possible answers and related resources</b> for the clients problem.
                      </li>
                  </ul>
              </div>
              <div class="col-md-4">
                  <img class="center" th:src="@{img/stories/srs_nekom2.png}" style="width: 100%; padding-top: 0.75em;">
              </div>
          </div>
          <hr/>

          <h4 class="text-left">Conference Assistant</h4>
          <div class="row">
              <div class="col-md-4">
                  <img class="center" th:src="@{img/stories/conference_assistent.png}" style="width: 100%; padding-top: 0.75em;">
              </div>
              <div class="col-md-8 text-justify">
                  <p>
                      With the goal of providing support for the conference organizers as well as conference attendees,
                      the <a href="https://i-know.know-center.tugraz.at/"><b>i-KNOW conference</b></a>, organized by the
                      <a href="https://www.know-center.tugraz.at/en/"><b>Know-Center</b></a>, uses a self-developed <b>conference assitant</b>
                      mobile application. This is done by providing a fast access to the conference schedule,
                      location of the session rooms, information on speakers as well as details on talks and other related events.
                  </p>
                  <b>Outcome:</b>
                  <ul>
                      <li>
                          Integrated a <b>personalization system</b> to <b>guide and remind</b> the visitors of talks which best suit their preferences.
                      </li>
                      <li>
                          <b>Increased networking</b> opportunities during the conference by <b>mathching visitors</b> with each other based on their interests and collaboration potential.
                      </li>
                  </ul>
              </div>
          </div>
          <hr/>

          <h4 class="text-right">Biomedical Playlist Generator</h4>
          <div class="row">
              <div class="col-md-8 text-justify">
                  <p>
                      Older people are often faced with <b>dementia</b>. It has been shown, that people with this illness still respond to <b>music they like</b>.
                      Because of that, the aim of <a href="http://www.mechamed.com/"><b>MechaMed</b></a> is to use a sensor-based system
                      which stimulates the brain by automatically playing songs that cause a <b>positive emotional reaction</b>.
                  </p>
                  <b>Outcome:</b>
                  <ul>
                      <li>
                          Research on algorithms that, using data extracted from <b>wearable devices</b>, are able to <b>uncover the emotional reaction</b> while listening to a song.
                      </li>
                      <li>
                          Developed an <b>automatic playlist generation</b> system, which grounds its decisions in <b>biomedical data</b>.
                      </li>
                  </ul>
              </div>
              <div class="col-md-4 text-center">
                  <img class="center" th:src="@{img/stories/music_rec.png}" style="width: 70%; padding-top: 0.75em;">
              </div>
          </div>
          <hr/>

          <h4 class="text-left">Brokerage</h4>
          <div class="row">
              <div class="col-md-4">
                  <img class="center" th:src="@{img/stories/dma_struct.png}" style="width: 100%; padding-top: 0.75em;">
              </div>
              <div class="col-md-8 text-justify">
                  <p>
                      The <a href="https://datamarket.at/en/"><b>Data Market Austria (DMA)</b></a> offers a platform to bring
                      <b>datasets</b>, <b>data services</b>, <b>consulting</b>, and <b>infrastructure offers</b> to a <b>common marketplace</b>.
                      The goal is to be a <b>central hub</b> for all actors participating in
                      the <b>Austrian data economy</b>, regardless of their industrial and research domain to overcome traditional domain boundaries.
                  </p>
                  <b>Outcome:</b>
                  <ul>
                      <li>
                          Extensive <b>analysis, ideation and conception</b> of the data market landscape.
                      </li>
                      <li>
                          Development of a <b>brokerage system</b> to help users overcome the <b>information overload problem</b>
                          and connect with clients or suppliers in the digital domain.
                      </li>
                  </ul>
              </div>
          </div>
      </div>

    </div>
</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>